<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">

      <% if (isAuthenticated) { %>
        <li class="main-header__item">
          <a class="<%= path === '/index' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/products' ? 'active' : '' %>" href="/offers">Offers</a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/add-product' ? 'active' : '' %>" href="/add-product">Add Product
          </a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/add-offer' ? 'active' : '' %>" href="/add-offer">Add Offer
          </a>
        </li>

        <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
        <li class="main-header__item">
          <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/register' ? 'active' : '' %>" href="/register">Register</a>
        </li>
        <% } else { %>
          <li class="main-header__item">
            <form action="/logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </li>
          <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">


    <% if (isAuthenticated) { %>
      <li class="mobile-nav__item">
        <a class="<%= path === '/index' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a class="<%= path === '/add-product' ? 'active' : '' %>" href="/add-product">Add Product
        </a>
      <li class="mobile-nav__item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
      </li>
      </li>
      <% } %>
        <% if (!isAuthenticated) { %>
          <li class="mobile-nav__item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
          </li>
          <li class="mobile-nav__item">
            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
          </li>
          <% } else { %>
            <li class="mobile-nav__item">
              <form action="/logout" method="post">
                <button type="submit">Logout</button>
              </form>
            </li>
            <% } %>
  </ul>
</nav>