<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/api/css/articale.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>

  <body>
    <%- include('../includes/navigation') %>

      <!--start  -->

      <section id="testimonials">
        <!--heading--->
        <div class="testimonial-heading">
          <span>Complaints</span>
          <h4>Clients Says</h4>
        </div>
        <!--testimonials-box-container------>
        <% if(complaints){ %>
          <div class="testimonial-box-container">
            <!--BOX-1-------------->
            <% for (const complaint of complaints) {%>
              <div class="testimonial-box">
                <!--top------------------------->
                <div class="box-top">

                  <!--profile----->
                  <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                      <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                      <strong><%- complaint.name %></strong>
                      <span><%- complaint.email%></span>

                    </div>
                  </div>
                  <!--reviews------>
                  <!-- <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div> -->
                </div>
                <!--Comments---------------------------------------->
                <div class="client-comment">
                  <p><%- complaint.message %></p>
                </div>
                <div class="button-container">
                  <input type="hidden" value="<%= complaint._id %>" name="productId">
                  <button class="btn danger" type="button" onclick="deleteProduct(this)">Delete</button>
                </div>
                <!-- <div class="button-container">
                  <button class="btn" style="margin-right: 15px;">Edit</button>
                  <button class="btn danger">Delete</button>
                </div> -->
              </div>
              <% } %>

          </div>
          <% } else { %>
            <h1> NO complaints.</h1>
            <%}%>
      </section>

      <!--end  -->
      <script nonce="<%= nonce %>">
        function deleteProduct(btn) {
          const productId = btn.previousElementSibling.value;
          fetch('/api/complain/' + productId, {
              method: 'DELETE',
            })
            .then(result => {
              return result.json();
            })
            .then(data => {
              console.log(data);
              location.reload();
            })
            .catch(err => {
              alert('Failed!');
              console.log(err);
            });
        }
      </script>

      <%- include('../includes/end.ejs') %>
        <!-- <dev class="ratings-container">
        <div class="icon-block">
          <svg height="19.014" viewBox="0 0 19.99 19.014" width="19.99" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M759.865,451.835a.556.556,0,0,0-.449-.376l-5.882-.85-2.63-5.3a.557.557,0,0,0-1,0l-2.631,5.3-5.881.85a.552.552,0,0,0-.308.943l4.256,4.126-1.005,5.826a.55.55,0,0,0,.221.54.56.56,0,0,0,.327.106.566.566,0,0,0,.259-.063l5.26-2.751,5.261,2.75a.557.557,0,0,0,.585-.042.551.551,0,0,0,.222-.54l-1.005-5.826,4.256-4.126A.553.553,0,0,0,759.865,451.835Z"
              transform="translate(-740.41 -444.5)">
            </path>
          </svg>
        </div>
        <div class="icon-block">
          <svg height="19.014" viewBox="0 0 19.99 19.014" width="19.99" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M759.865,451.835a.556.556,0,0,0-.449-.376l-5.882-.85-2.63-5.3a.557.557,0,0,0-1,0l-2.631,5.3-5.881.85a.552.552,0,0,0-.308.943l4.256,4.126-1.005,5.826a.55.55,0,0,0,.221.54.56.56,0,0,0,.327.106.566.566,0,0,0,.259-.063l5.26-2.751,5.261,2.75a.557.557,0,0,0,.585-.042.551.551,0,0,0,.222-.54l-1.005-5.826,4.256-4.126A.553.553,0,0,0,759.865,451.835Z"
              transform="translate(-740.41 -444.5)">
            </path>
          </svg>
        </div>
      </dev> -->