<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/api/css/forms.css">
  <link rel="stylesheet" href="/api/css/product.css">
  <script src="/api/js/add-edit-product.js" defer></script>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <main>

        <form name="product" class="product-form" id="add-edit-product" enctype="multipart/form-data">
          <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title"
              value="<% if (editing || hasErrors) { %><%= product.title %><% } %>">
          </div>
          <label for="category">Category</label>
          <select name="category" id="category">
            <option value="">اختر فئة</option>
            <option value="bedroom" <%=(editing || hasErrors) && product.category==='bedroom' ? 'selected' : '' %> >غرف
              نوم</option>
            <option value="office" <%=(editing || hasErrors) && product.category==='office' ? 'selected' : '' %> >مكتب
            </option>
            <option value="kids-room" <%=(editing || hasErrors) && product.category==='kids-room' ? 'selected' : '' %>
              >غرف أطفال</option>
            <option value="dining-room" <%=(editing || hasErrors) && product.category==='dining-room' ? 'selected' : ''
              %>>غرف سفرة</option>
            <option value="sofas" <%=(editing || hasErrors) && product.category==='sofas' ? 'selected' : '' %> >ركنات
            </option>
            <option value="salons" <%=(editing || hasErrors) && product.category==='salons' ? 'selected' : '' %>
              >صالونات</option>
            <option value="tables" <%=(editing || hasErrors) && product.category==='tables' ? 'selected' : '' %> >طاولة
            </option>
            <option value="cabinets" <%=(editing || hasErrors) && product.category==='cabinets' ? 'selected' : '' %>
              >نيش</option>
          </select>
          <div class="form-control">
            <label for="image">Image</label>
            <input type="file" name="image" id="image" %>">
          </div>
          <div class="form-control">
            <label for="image">Images list</label>
            <input type="file" name="images" id="images" multiple onchange="validateFileCount(this)">
          </div>
          <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input  type="text" name="imageUrl" id="imageUrl"
                  value="<% if (editing || hasErrors) { %><%= product.imageUrl %><% } %>">
              </div> -->

          <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01"
              value="<% if (editing || hasErrors) { %><%= product.price %><% } %>">
          </div>
          <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description"
              rows="5"><% if (editing || hasErrors) { %><%= product.description %><% } %></textarea>
          </div>

          <% if (editing) { %>
            <input type="hidden" value="<%= product._id %>" name="productId" id="productId">
            <% } %>

              <button class="btn" type="submit">
                <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
              </button>
        </form>
      </main>



      <%- include('../includes/end.ejs') %>