<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/api/css/forms.css">
  <link rel="stylesheet" href="/api/css/product.css">
  <link rel="stylesheet" href="/api/css/offers-list.css">

  <script src="/api/js/manage-offers.js" defer></script>
  <style>
    span {
      text-align: right;
      float: right;
      padding-left: 30;
    }
    .card__actions {
      display: flex;
      justify-content: flex-end; /* Align items to the right */
    }
  </style>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <main>
        <% if (errorMessage) { %>
          <div class="user-message user-message--error">
            <%= errorMessage %>
          </div>
          <% } %>

            <form name="product" class="product-form" id="add-offer" enctype="multipart/form-data">
              <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<%= offer.title %>">
              </div>
              <input type="hidden" name="offerId" id="offerId" value="<%= offer._id %>">
              <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image" %>">
              </div>

              <div class="form-control">
                <label for="categories">Categories</label>
                <table>
                  <tr>
                    <td><span>نيش</span></td>
                    <td><input type="checkbox" name="categories" value="cabinets"
                        <%=offer.categories.includes("cabinets")? 'checked' : '' %> > </td>
                    <td><span>غرف نوم</span></td>
                    <td><input type="checkbox" name="categories" value="bedroom" <%=offer.categories.includes('bedroom')
                        ? 'checked' : '' %> > </td>
                  </tr>

                  <tr>
                    <td><span>مكتب</span></td>
                    <td><input type="checkbox" name="categories" value="office" <%=offer.categories.includes('office')
                        ? 'checked' : '' %>> </td>
                    <td><span>غرف أطفال</span></td>
                    <td><input type="checkbox" name="categories" value="kids-room"
                        <%=offer.categories.includes('kids-room') ? 'checked' : '' %>> </td>
                  </tr>

                  <tr>
                    <td><span>غرف سفرة</span></td>
                    <td><input type="checkbox" name="categories" value="dining-room"
                        <%=offer.categories.includes('dining-room') ? 'checked' : '' %>> </td>
                    <td><span>ركنات</span></td>
                    <td><input type="checkbox" name="categories" value="sofas" <%=offer.categories.includes('sofas')
                        ? 'checked' : '' %>> </td>
                  </tr>

                  <tr>
                    <td><span>صالونات</span></td>
                    <td><input type="checkbox" name="categories" value="salons" <%=offer.categories.includes('salons')
                        ? 'checked' : '' %>> </td>
                    <td><span>طاولة</span></td>
                    <td><input type="checkbox" name="categories" value="tables" <%=offer.categories.includes('tables')
                        ? 'checked' : '' %>> </td>
                  </tr>


                </table>

              </div>

              <button class="btn" type="submit"> Update Offer </button>
            </form>
            <hr>
            <form action="/add-product-offer" method="POST" id="add-product-offer">
              <input type="hidden" name="offerId" id="offerId" value="<%= offer._id %>">
              <input type="text" placeholder="Porduct ID" name="productId" id="productId" class="add_field">
              <button type="submit" class="btn"> Add Product</button>
            </form>
            <br>
            <br>
            <br>

            <% if (offer.products.length> 0) { %>
              <ul class="cart__item-list">
                <% let currentCategory = null %>
                <% offer.products.forEach(p => { %>
                  <% if (p.category !== currentCategory) { %>
                    <% currentCategory = p.category %>
                    <h2><%= currentCategory %>:</h2>
                  <% } %>
                  <li class="cart__item">
                    <div class="item-details">
                      <h1><%= p.title %></h1>
                    </div>
                    <div class="card__actions">
                      <input type="hidden" value="<%= p._id %>" name="productId">
                      <button class="btn danger" type="button" onclick="deleteProductOffer(this)">Delete</button>
                    </div>
                    <hr>
                  </li>
                <% }) %>
              </ul>


              <% } else { %>
                <h1>No product in this offer!</h1>
                <% } %>
      </main>

      <%- include('../includes/end.ejs') %>
</html>