<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/head.ejs') %>
  <!-- <link rel="stylesheet" href="/css/cart.css"> -->
  <link rel="stylesheet" href="/api/css/offers-list.css">
  <script src="/api/js/offers-list.js" defer></script>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main>
        <% if (offers.length> 0) { %>
          <ul class="cart__item-list">
            <% offers.forEach(offer=> { %>
              <li class="cart__item">
                <div class="item-details">
                  <h1>
                    <%= offer.title %>
                  </h1>
                  <h2>items: <%= offer.productsNumber %>
                  </h2>
                </div>
                <div class="item-actions">
                  <div class="buttons-container">
                    <a href="/api/offer/<%= offer._id %>" class="btn">Manage</a>
                    <div class="card__actions">
                      <input type="hidden" value="<%= offer._id %>" name="offerId" id="offerId">
                      <button class="btn danger" type="button" onclick="deleteOffer(this)">Delete</button>
                      <input type="text" class="delete_field" name="confirmation" id="confirm">
                    </div>
                  </div>
                  <hr>
                </div>
              </li>
              <% }) %>
          </ul>


          <% } else { %>
            <h1>No Offers!</h1>
            <% } %>
      </main>
      <%- include('../includes/end.ejs') %>
</body>
</html>