<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/api/css/product.css">
  <script src="/api/js/delete-product.js" defer></script>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <main>
        <% if (prods.length> 0) { %>
          <div class="grid">
            <% for (let product of prods) { %>
              <article class="card product-item">
                <header class="card__header">
                  <h1 class="product__title">
                    <%= product.title %>
                  </h1>
                </header>
                <div class="card__image">
                  <img src="<%= product.mainImageUrl %>" alt="<%= product.title %>"><!-- local/image/name -->
                  <!-- <img src="<%= product.imageUrl %>" alt="<%= product.title %>"> //local/admin/image/name -->
                </div>
                <div class="card__content">
                  <h2 class="product__price">$
                    <%= product.price %>
                  </h2>
                  <p class="product__description">
                    <%= product._id %>
                  </p>
                  <p class="product__description">
                    <%= product.description %>
                  </p>
                </div>
                <div class="card__actions">
                  <a href="/api/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                  <input type="hidden" value="<%= product._id %>" name="productId">
                  <button class="btn danger" type="button" onclick="deleteProduct(this)">Delete</button>
                </div>
              </article>
              <% } %>
          </div>
          <section class="pagination">
            <% if (currentPage !==1 && previousPage !==1) { %>
              <a href="?page=1">1</a>
              <% } %>
                <% if (hasPreviousPage) { %>
                  <a href="?page=<%= previousPage %>">
                    <%= previousPage %>
                  </a>
                  <% } %>
                    <a href="?page=<%= currentPage %>" class="active">
                      <%= currentPage %>
                    </a>
                    <% if (hasNextPage) { %>
                      <a href="?page=<%= nextPage %>">
                        <%= nextPage %>
                      </a>
                      <% } %>
                        <% if (lastPage !==currentPage && nextPage !==lastPage) { %>
                          <a href="?page=<%= lastPage %>">
                            <%= lastPage %>
                          </a>
                          <% } %>
          </section>
          <% } else { %>
            <h1>No Products Found!</h1>
            <% } %>
      </main>
      <%- include('../includes/end.ejs') %>